#scoreHard{
    position: relative;
    left: 1000px;
    top: -370px;
    font-size: 20px;
}
#highScoreHard{
    display: none;
}
#scoreBoard{
    position: relative;
    left: 980px;
    top: -440px;
    font-size: 20px;
}

.game{
    width: 1080px;
    height: 500px;
    border: 2px solid black;
    margin: auto;
    background-image: url('https://images.unsplash.com/photo-1509316785289-025f5b846b35?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80');
    background-size: cover;
}

/* characters */
#zack{
    height: 125px;
    width: 90px;
    top: 375px;
    background-image: url('https://i.imgur.com/hOw0L61.png');
    position: relative;
    background-size: cover;
}

#soldier{
    height: 125px;
    width: 90px;
    top: 250px;
    background-image: url('https://i.imgur.com/qROV3nh.png');
    position: relative;
    background-size: cover;
    left: 990px;
    animation: soldier 1.3s infinite linear;
    animation-play-state: running;
    animation-delay: 1.3s;
   
} 

#soldier2{
    height: 125px;
    width: 80px;
    top: 135px;
    background-image: url('https://i.imgur.com/qROV3nh.png');
    position: relative;
    background-size: cover;
    left: 990px; 
    animation: soldier 1s infinite linear;
    animation-play-state: running;
    animation-delay: 1s;
}

#gil{
    height: 50px;
    width: 50px;
    top: -140px;
    background-image: url('https://i.imgur.com/VjkSory.png');
    position: relative;
    background-size: cover;
    left: 1030px;
    animation: gil 1.8s infinite linear;
    animation-delay: 1s;
}

/* animations */
.jump-animation{
    animation: jump 0.5s; 
}

/* keyframes */
@keyframes jump {
    0%{
        top: 375px;
    }
    50%{
        top: 187px;
    } 
    75%{
        top: 187px;
    }
    100%{
        top: 375px;
    }
}

@keyframes soldier{
    0%{
        left: 1080px;
    }
    100%{
        left: -10px;
    }
}

@keyframes soldier2{
    0%{
        left: 1080px;
    }
    100%{
        left: -10px;
    }
}

@keyframes gil{
    0%{
        left: 1080px;
    }
    100%{
        left: -10px;
    }
}