@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lexend+Deca&family=Press+Start+2P&display=swap');

.scoreBoard{
    width: 1080px;
    height: 500px;
    border: 15px solid black;
    margin: auto;
    background-color: black;
    background-size: cover;
    background-position: center;
    color: white;
    font-family: 'Press Start 2P', cursive;
}

/* .background{
    border: 5px solid white;
    height: 250px;
    width: 500px;
    display: block;
    margin: auto;
    background-color: blue;
} */
/* ------------------------------------ */
.background{
    border: 5px solid white;
    height: 300px;
    width: 500px;
    display: block;
    margin: auto;
    background-color: blue;
}
/* ------------------------------------ */

#highScore{
    text-align: center;
    padding: 60px 0 20px 0;
    margin: 15px 0px 0px;
}

#currentScore{
    position: center;
    text-align: center;
    justify-content: center;
}

/* ------------------------------------ */
#highScoreHard{
    text-align: center;
    padding: 20px 0 20px 0;
    margin: 20px 0px 0px;
}
#currentScoreHard{
    position: center;
    text-align: center;
    justify-content: center;
}
/* ------------------------------------ */

#exit{
    text-align: center;
    display: block;
    text-decoration: none;
    color: white;
    margin: 35% 0px 0px;
}

