@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lexend+Deca&family=Press+Start+2P&display=swap');

.instructions{
    width: 1080px;
    height: 500px;
    border: 2px solid black;
    margin: auto;
    background-color: black;
    background-size: cover;
    background-position: center;
    color: white;
    font-family: 'Press Start 2P', cursive;
}

p{
    text-align: center;
    border: 5px solid white;
    background-color: blue;
    padding: 50px;
    margin: 10% 0px 0px;
    line-height: 2;
}

#exit{
    text-align: center;
    display: block;
    text-decoration: none;
    color: white;
    margin: 10% 0px 0px;
}